@model L10_2.ViewModels.Category

@{
    ViewData["Title"] = "NotDelete";
}

<h1>NotDelete</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <p>This item is in use.</p>
    <a asp-action="Index">Back to List</a>
</div>
